head
  title= name
  link(rel='stylesheet', href='/stylesheets/concerts.css')
body
  h1 #[a(href="/" class="home") GigaTune]
  div
    if !(result.length)
      h1 No concert held by #{name}
    each val in result
      ul(class = 'box')
        -var artists = val.lineup.join(', ');
        h2= artists

        li Venue: #{val.venue.name}
        li #{val.venue.city}, #{val.venue.region}
        li Date: #{val.datetime}
        br
        li #[a(href=val.url class='ticket') Buy Tickets]
        br
